
</body>
</html>


<!DOCTYPE html>
<html>
<!-- COMIENZO DEL HEAD -->

<%- include ("./partials/head") -%>

<!-- COMIENZO BODY -->
<body>
  <div class ="logowhatsapp">
    <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
</div>

<%- include ("./partials/header") -%>



<section class="seccion contenedor">
    <h2>La mejor pagina para comprar perfumes y decants en Colombia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </section><!--seccion-->

  <section class="programa">
    <div class="contenedor-video">
      <!--<video autoplay loop poster="img/bg-resumen.jpg">
      <source src="video/video2.mp4" type="video/mp4">
      <source src="video/video2.webm" type="video/webm">
      <source src="video/video2.ogv" type="video/ogg">
      </video>-->
      <img src="/img/bg-resumen.jpg" alt="">
    </div><!--contenedor video-->
    <div class="contenido-programa">
      <div class="contenedor">
        <div class="programa-evento">
          <h2>Nuestras Categorias</h2>
          <nav class="menu-programa">
            <a href="#mujer"><i class="fa fa-venus" aria-hidden="true"></i>Perfumes Mujer</a>
            <a href="#hombre"><i class="fa fa-mars" aria-hidden="true"></i>Perfumes Hombre</a>
            <a href="#unisex"><i class="fa fa-venus-mars" aria-hidden="true"></i>Perfumes Unisex</a>
          </nav>

          <div id="mujer" class="info-curso ocultar clearfix">
            <div class="detalle-evento">
             <h3>Dolce & Gabbana</h3>
             <p><i class="fa fa-database" aria-hidden="true"></i>Light Blue</p>
              <p><i class="fa fa-tags" aria-hidden="true"></i>Aromática Acuática</p>
              <p><i class="fa fa-user" aria-hidden="true"></i>Jacques Cavallier</p>

            </div>
            <div class="detalle-evento">
              <h3>Carolina Herrera</h3>
              <p><i class="fa fa-database" aria-hidden="true"></i>CH Prive</p>
              <p><i class="fa fa-tags" aria-hidden="true"></i>Aromática Cuero</p>
              <p><i class="fa fa-user" aria-hidden="true"></i>Christophe Raynau</p>

            </div>
            <a href="/marcas" class="button float-right">Ver Todos</a>

          </div> <!-- mujer-->
          <div id="hombre" class="info-curso ocultar clearfix">
           <div class="detalle-evento">
             <h3>Bvlgari</h3>
             <p><i class="fa fa-database" aria-hidden="true"></i>Aqua Marine</p>
             <p><i class="fa fa-tags" aria-hidden="true"></i>Aromática Acuática</p>
             <p><i class="fa fa-user" aria-hidden="true"></i>Jacques Cavallier</p>

           </div>
           <div class="detalle-evento">
             <h3>Carolina Herrera</h3>
             <p><i class="fa fa-database" aria-hidden="true"></i>CH Prive</p>
             <p><i class="fa fa-tags" aria-hidden="true"></i>Aromática Cuero</p>
             <p><i class="fa fa-user" aria-hidden="true"></i>Christophe Raynau</p>

           </div>
           <a href="/marcas" class="button float-right">Ver Todos</a>

         </div> <!-- hombre-->
         <div id="unisex" class="info-curso ocultar clearfix">
           <div class="detalle-evento">
             <h3>Maison Francis Kurkdjian</h3>
             <p><i class="fa fa-database" aria-hidden="true"></i>Baccarat Rouge 540</p>
             <p><i class="fa fa-tags" aria-hidden="true"></i>Aromática Acuática</p>
             <p><i class="fa fa-user" aria-hidden="true"></i>Jacques Cavallier</p>

           </div>
           <div class="detalle-evento">
             <h3>Carolina Herrera</h3>
             <p><i class="fa fa-database" aria-hidden="true"></i>CH Prive</p>
             <p><i class="fa fa-tags" aria-hidden="true"></i>Aromática Cuero</p>
             <p><i class="fa fa-user" aria-hidden="true"></i>Christophe Raynau</p>

           </div>
           <a href="/marcas" class="button float-right">Ver Todos</a>

         </div> <!-- unisex-->

        </div> <!-- programa evento-->
      </div> <!-- contenedor-->
    </div> <!-- contenido-programa-->
  </section> <!--programa-->


        <main>
         

    
    <div class="contador parallax clearfix">
        <div class="contador">
          <ul class="resumen-evento">
            <li><p class="numero">0</p>Visitantes</li>
            <li><p class="numero">0</p>Usuarios</li>
            <li><p class="numero">0</p>Reviews</li>
            <li><p class="numero">0</p>Rerencias</li>

          </ul>

        </div>

      </div>

      <section class="precios section">
        <h2>Promociones</h2>
        <div class="contenedor">
          <ul class="lista-precios clearfix">
            <li>
              <div class="tabla-precio">
                <h3>2 Perfumes Hombre y/o unisex</h3>
                <p class="numero">$90</p>
                <ul>
                  <li>Decants Gratis</li>
                  <li>Todas las marcas</li>
                  <li>Todas las referencias</li>
                </ul>
                <a href="carrito" class="button hollow">Comprar</a>

              </div>
            </li>
            <li>
              <div class="tabla-precio">
                <h3>4 Perfumes Hombre, Mujer y/o unisex</h3>
                <p class="numero">$150</p>
                <ul>
                  <li>Decants Gratis</li>
                  <li>Todas las marcas</li>
                  <li>Todas las referencias</li>
                </ul>
                <a href="carrito" class="button">Comprar</a>

              </div>
            </li>
            <li>
              <div class="tabla-precio">
                <h3>2 Perfumes Mujer y/o unisex</h3>
                <p class="numero">$90</p>
                <ul>
                  <li>Decants Gratis</li>
                  <li>Todas las marcas</li>
                  <li>Todas las referencias</li>
                </ul>
                <a href="carrito" class="button hollow">Comprar</a>
              </div>
            </li>
          </ul>
        </div>

      </section>
      <div id="map"class="map">    
   

      </div>

      <section class="seccion">
        <h2>Reviews</h2>
        <div class="testimoniales contenedor clearfix">
            <div class="testimonial">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                 <footer class="info-testimonial clearfix">
                   <img src="/img/review1.jpg" alt="imagen-testimonial">
                    <cite>Carlos Vargas <span>Perfumista en @Dior</span>  </cite>
                 </footer>
               </blockquote>
            </div> <!--Review-->
            <div class="testimonial">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                 <footer class="info-testimonial clearfix">
                   <img src="/img/review2.jpg" alt="imagen-testimonial">
                    <cite>Daniela ortiz <span>Ingeniera Quimica en@Mane</span>  </cite>
                 </footer>
               </blockquote>
            </div> <!--Review-->
            <div class="testimonial">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                 <footer class="info-testimonial clearfix">
                   <img src="/img/review3.jpg" alt="imagen-testimonial">
                    <cite>Ana Milena Chaparro  <span>Perfumista en @Firmenich</span>  </cite>
                 </footer>
               </blockquote>
            </div> <!--Review-->
        </div>

      </section>
      <div class="newsletter parallax">
        <div class="contenido contenedor">
          <p>Registrate nuestra pagina y al newsletter</p>
          <h3>Colombiere Perfumes</h3>
          <a href="users/register" class="button transparente">Registro</a>

        </div> <!--contenido-->

      </div> <!--newsletter-->

      <section class="seccion">
        <h2>nuestra Promocion comienza en:</h2>
        <div class="cuenta-regresiva contenedor">
         <ul class="clearfix">
           <li><p id="dias" class="numero"></p>Dias</li>
           <li><p id="horas" class="numero"></p>Horas</li>
           <li><p id="minutos" class="numero"></p>minutos</li>
           <li><p id="segundos" class="numero"></p>segundos</li>
         </ul>
        </div>
      </section>
    <!-- COMIENZO FOOTER -->

    <%- include ("./partials/footer") -%>

    
    <script src="/jquery/jquery.js"></script>
    <script src="/js/vendor/modernizr-3.12.0.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.lettering.js"></script>
  
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtxtJ-dayUKUqBGfykFVXwZiBRzsIx9aY&callback=initMap" async defer></script>	


    </body>
</html>

