<!DOCTYPE html>

<header class="site-header">
    <div class="hero">
      <div class="contenido-header">
        <nav class="redes-sociales">
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </nav>
        <div class="Informacion-tienda">
          <div class="clearfix">
            <p class="fecha"><i class="fa fa-calendar" aria-hidden="true"></i>Proxima Promocion 10-12 Dic</p>
            <p class="ciudad"><i class="fa fa-map-marker" aria-hidden="true"></i>Medellin, Col</p>
          </div>

          <h1 class="nombre-sitio">Colombiere Perfumes</h1>
          <p class="slogan">El mejor sitio para <span>comprar decants y Perfumes en Colombia</span></p>
        </div> <!--informacion tienda-->
     </div> <!--contenido header-->
    </div> <!--hero-->
  </header>

  <div class="barra">
    <div class="contenedor clearfix">
     <div class="logo">
      <a href="/">
       <img src="/img/logo3.png" alt="logo perfumes">
      </a>
     </div>

       <div class="menu-movil">
          <span></span>
          <span></span>
          <span></span>
       </div>

       <nav class="navegacion-principal clearfix">
        <a href="/">Inicio</a>
        <a href="/marcas">Productos</a>
        <a href="/usuarios">Usuarios</a>                
        <a href="/usuarios/login">Login</a>        
        <a href="/marcas">Marcas</a>        
        <a href="/carrito">Carro de compras</a>

              </nav>
       </div> <!--contenedor-->
     </div> <!--barra-->
</header>